/* Tech.css */

.tech-container {
    margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Adjust spacing between images */
}

.tech-logo {
  width: 70px; /* Adjust the size as needed */
  height: 70px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.tech-logo:hover {
  transform: scale(1.2); /* Adjust the scale factor for hover effect */
}
