.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px; /* Adjust spacing between images */
}

.tech-logo {
  width: 90px; /* Adjust the size as needed */
  height: 90px;
  border-radius: 50%;
  object-fit: contain; /* Ensures the entire image is visible inside the circle */
  object-position: center; /* Centers the image within the circle */
  overflow: hidden; /* Hides any content outside the circle */
  transition: transform 0.2s ease-in-out;
  padding: 5px; /* Add padding to create space inside the circle */
}

.tech-logo:hover {
  transform: scale(1.2); /* Adjust the scale factor for hover effect */
}
